@mixin respond-medium-wide {
  @media (max-width: 895px) {
    @content;
  }
}

@mixin respond-medium-narrow-wide {
  @media (max-width: 834px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 736px) {
    @content;
  }
}

.feed-post-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 1000px;
  width: auto;
  margin-bottom: 40px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 2px;
  padding-bottom: 10px;

  .profile-and-options {
    display: flex;
  }

  .image-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    width: 600px;
    background-color: black;

    .feed-post-photo {
      display: flex;
      height: auto;
      width: 600px;
    }
  }

  .caption-and-reactions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 50px;
    text-align: start;
    margin-left: 10px;
    font-size: 14px;

    .view-all-comments {
      margin-top: 5px;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: 520;
      font-family: 'Lato', sans-serif;
      color: rgb(142, 142, 142);
    }

    .caption-or-reaction {
      display: inline-block;
      position: relative;
      margin-top: 5px;
      max-width: 580px;
      text-align: left;
      word-wrap: break-word;

      .username {
        display: inline-flex;
        position: relative;
        font-size: 14px;
        font-weight: 540;
        color: black;
        height: fit-content;
        width: fit-content;
        margin-right: 5px;
        font-weight: 540;
      }
    }

    .likes-text {
      width: fit-content;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      background-color: white;
      color: #074aaf;
      border: none;
      margin-top: 5px;
      padding-left: 0;
      text-decoration: none;
      border-radius: 15px;

      span {
        font-size: 14px;
        font-weight: 520;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        font-family: 'Lato', sans-serif;
      }
    }
  }

  .date {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .comment-form {
    display: flex;
    margin-left: 10px;
    max-height: 65px;
    max-width: 580px;
    margin-bottom: 15px;

    .group.comment {
      @include respond-medium-wide() {
        width: 100%;
      }
    }

    .post-text-button {
      margin-top: 35px;
      margin-left: 15px;
      font-size: 14px;
      font-weight: 520;
    }

    .submit-comment-button {
      width: auto;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      background-color: white;
      color: #074aaf;
      border: none;
      margin-top: 25px;
      margin-left: 15px;
      text-transform: capitalize;
      text-decoration: none;
      border-radius: 15px;

      span {
        font-size: 14px;
        font-weight: 520;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        font-family: 'Lato', sans-serif;
      }

      &.greyed-out {
        opacity: 0.6;
        cursor: default;
      }
    }
  }
}
