@mixin avatar-dimensions {
  position: relative;
  width: 14vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 75px;
  min-height: 75px;
  height: 14vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 75px;
  min-height: 75px;
  border-radius: 50%;
}

.my-profile-page {
  min-height: 800px;
  width: 70vw;
  // max-width: 975px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
  transform: translate(-50%);

  .user-bio {
    width: 56vw;
    min-width: 400px;
    padding: 10px 20px;
    height: 22vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .avatar {
      margin-left: 2vw;
      margin-top: 3.5vh;
      @include avatar-dimensions();

      .profile-photo {
        @include avatar-dimensions();
      }

      .user-bio-photo-placeholder {
        @include avatar-dimensions();
        border: solid 2px;
        border-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

        .user-bio-photo-placeholder-text {
          position: relative;
          font-size: 3vw;
          color: white;
          margin: 0;
          margin-top: 50%;
          transform: translateY(-55%);
        }
      }
    }

    .user-details {
      position: absolute;
      width: 30vw;
      height: 18vh;
      top: 4vh;
      right: 50%;
      transform: translate(75%);
      margin-left: 8vw;

      .user-name {
        width: 16vw;
        min-width: 180px;
        position: absolute;
        font-size: 22px;
        font-weight: 460;
        text-align: start;
        top: 1vh;
        margin-bottom: 40px;
      }

      .user-posts {
        width: 12vw;
        position: absolute;
        font-size: 18px;
        font-weight: 420;
        bottom: 9vh;
        text-align: start;
      }
    }
  }

  .posts-grid {
  }
}
