@mixin avatar-dimensions {
  position: relative;
  width: 14vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 75px;
  min-height: 75px;
  height: 14vw;
  border-radius: 50%;
}

@mixin respond-medium {
  @media (max-width: 724px) {
    @content;
  }
}

@mixin respond-wide {
  @media (max-width: 1024px) {
    @content;
  }
}

.profile-page {
  min-height: 800px;
  display: flex;
  width: 85vw;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
  transform: translate(-50%);

  @include respond-wide() {
    width: 70vw;
    padding: 1vh 0;
  }

  @include respond-medium() {
    width: 95vw;
  }

  .user-bio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .avatar-and-details {
      width: 56vw;
      padding: 0 2vw;
      height: 22vh;
      margin-top: calc(1vh + 10px);
      margin-bottom: 2vh;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include respond-medium() {
        height: 14vh;
      }

      .avatar {
        margin-left: 2vw;
        margin-top: calc(1vh + 15px);
        margin-right: 4vw;
        @include avatar-dimensions();

        .profile-photo {
          @include avatar-dimensions();
        }

        .user-bio-photo-placeholder {
          @include avatar-dimensions();
          border: solid 1.5px;
          border-color: black;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;

          .user-bio-photo-placeholder-text {
            position: relative;
            font-size: 32px;
            color: black;
            margin: 0;
            margin-top: 50%;
            transform: translateY(-55%);

            @include respond-wide() {
              font-size: 3vw;
            }
          }
        }
      }

      .user-details {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30vw;
        height: 18vh;
        margin-top: 3.5vh;
        justify-content: flex-start;

        .username-and-edit,
        .username-and-follow {
          position: relative;
          margin-left: inherit;
          display: flex;
          justify-content: stretch;
          margin-bottom: 2vh;

          .user-username {
            width: 20vw;
            font-size: calc(1.6vw + 10px);
            font-weight: 460;
            text-align: start;
            margin-right: 30px;
          }

          .edit-profile,
          .follow-profile {
            border: 1px solid rgba(122, 122, 122, 0.2);
            position: relative;
            min-width: 100px;
            height: fit-content;
            padding: 0.5vh 0.5vw;
            background-color: white;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              text-decoration: none;
            }

            @include respond-medium() {
              display: none;
            }

            .edit-text,
            .follow-text {
              font-size: 14px;
              font-weight: 420;
              color: black;
            }
          }

          .follow-profile:hover {
            text-decoration: none;
          }
        }

        .edit-profile-narrow-screen,
        .follow-profile-narrow-screen {
          border: 1px solid rgba(122, 122, 122, 0.2);
          position: relative;
          font-size: 14px;
          color: black;
          padding: 0.5vh 0.5vw;
          background-color: white;
          border-radius: 4px;
          width: 100%;
          display: none;
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }

          @include respond-medium() {
            display: flex;
          }

          .edit-narrow-text,
          .follow-narrow-text {
            margin-left: 50%;
            transform: translate(-50%);
            font-weight: 420;
          }
        }

        .follow-profile-narrow-screen:hover {
          text-decoration: none;
        }

        .posts-followers-following-stats {
          display: flex;
          justify-content: space-between;
          position: relative;

          .user-stat {
            width: 12vw;
            position: relative;
            font-size: 2vh;
            font-weight: 420;
            text-align: left;

            @include respond-medium() {
              display: none;
            }
          }

          .clickable:hover {
            cursor: pointer;
          }
        }

        .name-and-bio {
          margin-top: 15px;
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          justify-self: start;

          @include respond-medium() {
            display: none;
          }

          .user-name {
            text-align: left;
            font-size: 16px;
            font-weight: 420;
            margin-bottom: 10px;
          }

          .user-bio {
            text-align: left;
            font-size: 16px;
            font-weight: 320;
          }
        }
      }
    }

    .name-and-bio-narrow-screen {
      margin-bottom: 30px;
      flex-direction: column;
      justify-self: start;
      display: none;

      @include respond-medium() {
        display: flex;
      }

      .user-name-narrow {
        text-align: left;
        font-size: 14px;
        font-weight: 420;
        margin-bottom: 10px;
      }

      .user-bio-narrow {
        text-align: left;
        font-size: 14px;
        font-weight: 360;
      }
    }

    .posts-followers-following-stats-narrow-screen {
      position: relative;
      display: none;

      @include respond-medium() {
        display: flex;
        justify-content: space-evenly;
      }

      .stats-list {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-self: center;
        justify-content: space-evenly;
        list-style-type: none;
        margin-bottom: 1vh;
        text-align: left;

        .stats-item {
          font-size: 18px;
          margin-right: 20px;
        }

        .clickable:hover {
          cursor: pointer;
        }
      }
    }
  }

  .posts-grid {
    margin-top: calc(1vh + 10px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
