@mixin hideSuggestions {
  display: none;
}

.user-suggestions-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 220px;
  max-height: 100px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  transform: translate(-10px);
  z-index: 20;

  &.hide {
    @include hideSuggestions();
  }

  .user-suggestion {
    display: flex;
    position: relative;
    justify-content: start;
    width: 220px;
    height: 50px;
    background-color: white;
    border-bottom: solid 1px rgb(180, 180, 180);

    &:hover {
      cursor: pointer;
    }

    .suggestion-avatar {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      .suggestion-profile-photo {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      .suggestion-photo-placeholder {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: solid 1px;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;

        .suggestion-photo-placeholder-text {
          position: relative;
          font-size: 8px;
          color: black;
          margin-top: 50%;
          transform: translateY(-55%);
        }
      }
    }

    .username-and-name {
      display: flex;
      position: relative;
      flex-direction: column;
      padding-top: 4px;
      width: 140px;
      height: 50px;
      justify-self: flex-end;
      text-align: left;

      .username {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 420;
        color: black;
      }

      .name {
        display: flex;
        position: relative;
        font-size: 12px;
        font-weight: 380;
        color: black;
      }
    }
  }
}
