@mixin respond-medium {
  @media (max-width: 736px) {
    @content;
  }
}

.post-options-modal {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 20vw;
  max-width: 200px;
  min-width: 120px;
  max-height: 120px;
  margin-top: 45vh;
  margin-left: 50%;
  transform: translate(-50%);

  .modal-content {
    width: 20vw;
    max-width: 200px;
    min-width: 120px;
    max-height: 120px;
    flex-direction: column;
    transform: translate(30%, 350%);

    @include respond-medium() {
      transform: translate(10%, 100%);
    }
  }

  .post-options-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    width: 20vw;
    max-width: inherit;
    min-width: inherit;
    max-height: 120px;

    &:hover {
      cursor: pointer;
    }

    .archive {
      border-bottom: solid 1px;
      border-color: rgba(0, 0, 0, 0.2);
      width: 20vw;
      max-width: inherit;
      text-align: center;
      padding-bottom: 1vh;
    }

    .cancel {
      width: 20vw;
      max-width: inherit;
      text-align: center;
      padding-top: 1vh;
    }

    span {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 400;
      overflow: hidden;
    }
  }
}

.modal-backdrop {
  z-index: 1050;
}
