<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge" />
  <title>Websockets Client</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/api/messages/socket.io.js"></script>
</head>

<body>
  <div id="v-app">
    <h1>{{ title }}</h1>
    <form>
      <input v-model="text" type="text" />
      <button type="submit" @click.prevent="sendChatMessage()">Send</button>
    </form>
    <p>
    <ul>
      <li v-for="msg of messages">
        <strong>{{msg.sender}}: </strong>{{ msg.message }}
      </li>
    </ul>
    </p>
  </div>
  <script>
    var app = new Vue({
      el: '#v-app',
      data: {
        username: '',
        room: '',
        title: 'Websockets Tester',
        text: '',
        messages: [],
        socket: { chat: null },
      },
      methods: {
        sendChatMessage() {
          this.socket.chat.emit('chatToServer', { sender: this.username, room: this.room, message: this.text });
          this.text = '';
        },
        receiveChatMessage(msg) {
          this.messages.push(msg);
        },
        joinRoom() {
          this.socket.chat.emit('joinRoom', this.room);
        }
      },
      created() {
        this.username = prompt('Enter your username:');
        this.room = prompt('Enter your room:');

        this.socket.chat = io('http://localhost:3000/chat', { path: '/api/messages' });

        this.socket.chat.on('connect', () => { 
          this.joinRoom(); 
        });

        this.socket.chat.on('chatToClient', (msg) => {
          this.receiveChatMessage(msg);
        });
      }
    })
  </script>
</body>

</html>