.post-tile {
  width: 30vw;
  height: 30vw;
  max-width: 293px;
  max-height: 293px;
  margin: 0.5vw;

  .post-tile-image {
    width: 30vw;
    height: 30vw;
    max-width: 293px;
    max-height: 293px;
    object-fit: cover;
    cursor: pointer;
  }
}
