.settings {
  width: 850px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);

  .update-profile-photo {
    margin-top: 20px;

    .profile-photo-container {
      margin-top: 15px;
      width: 300px;
      height: 300px;
      border: solid 2px;
      border-radius: 150px;
    }

    span {
      font-weight: 400;
      margin: 0px;
      width: 300px;
      line-height: 1.5;
    }
  }

  .group {
    margin: 10px;
  }

  .change-info {
    min-width: 200px;
    max-width: 250px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;

    span {
      font-weight: 400;
      margin: 0px;
      width: 300px;
      line-height: 1.5;
    }

    .update-info {
      margin-bottom: 50%;
      transform: translateY(50%);
    }

    .password {
      transform: translateY(15%);
    }

    .password-button {
      min-height: 80px;
    }
  }

  .settings-button {
    min-width: 180px;
    max-width: 220px;

    span {
      font-weight: 400;
    }
  }
}
