.settings {
  width: 850px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 30px;

  .group {
    margin: 10px;
  }

  .change-info {
    // width: 25%;
    min-width: 200px;
    max-width: 250px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 80px 0px;
    // margin-left: -20px;

    span {
      font-weight: 400;
      margin: 0px;
      width: 300px;
    }
  }

  .settings-button {
    min-width: 180px;
    max-width: 220px;
  }
}
