.user-suggestion-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 220px;
  max-height: 100px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  transform: translate(-10px);
  z-index: 20;

  .user-suggestion-element {
    display: flex;
    position: relative;
    justify-content: start;
    width: 220px;
    height: 50px;
    background-color: white;
    border-bottom: solid 1px rgb(180, 180, 180);

    &:hover {
      cursor: pointer;
    }

    .suggestion-avatar {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      .suggestion-profile-photo {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      .suggestion-photo-placeholder {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: solid 1px;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;

        .suggestion-photo-placeholder-text {
          position: relative;
          font-size: 8px;
          color: black;
          margin-top: 50%;
          transform: translateY(-55%);
        }
      }
    }

    .suggestion-username-and-other-data {
      display: flex;
      position: relative;
      flex-direction: column;
      padding-top: 4px;
      width: 140px;
      height: 50px;
      justify-self: flex-end;
      text-align: left;

      .suggestion-username {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 420;
        color: black;
      }

      .suggestion-name {
        display: flex;
        position: relative;
        font-size: 12px;
        font-weight: 380;
        color: black;
      }

      .suggestion-location {
        display: none;
      }
    }
  }
}

.user-modal-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: inherit;
  max-height: 338px;
  background-color: white;
  border-radius: 4px;

  .user-modal-element {
    display: flex;
    position: relative;
    justify-content: start;
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: solid 1px rgb(180, 180, 180);
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      cursor: pointer;
    }

    .modal-avatar {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: 15px;
      margin-right: 2vw;

      .modal-profile-photo {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .modal-photo-placeholder {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: solid 1px;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .modal-photo-placeholder-text {
          position: relative;
          font-size: 10px;
          color: black;
          margin-top: 50%;
          margin-left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .modal-username-and-other-data {
      display: flex;
      position: relative;
      flex-direction: column;
      padding-top: 6px;
      width: 75%;
      height: 60px;
      justify-self: flex-end;
      text-align: left;

      .modal-username {
        display: flex;
        position: relative;
        font-size: 16px;
        font-weight: 420;
        color: black;
      }

      .modal-name {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 380;
        color: black;
      }

      .modal-location {
        display: none;
      }
    }
  }
}

.user-feed-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: inherit;
  max-height: 338px;
  background-color: white;
  border-radius: 4px;

  .user-feed-element {
    display: flex;
    position: relative;
    justify-content: start;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: solid 1px rgb(180, 180, 180);
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      cursor: pointer;
    }

    .feed-avatar {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 5px;

      .feed-profile-photo {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .feed-photo-placeholder {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 1px;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .feed-photo-placeholder-text {
          position: relative;
          font-size: 10px;
          color: black;
          margin-top: 50%;
          margin-left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .feed-username-and-other-data {
      display: flex;
      position: relative;
      flex-direction: column;
      padding-top: 6px;
      width: 75%;
      height: 60px;
      justify-self: flex-end;
      text-align: left;

      .feed-username {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 540;
        color: black;
      }

      .feed-name {
        display: none;
      }

      .feed-location {
        display: flex;
        position: relative;
        font-size: 12px;
        font-weight: 380;
        color: black;
      }
    }
  }
}

.user-comment-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: inherit;
  max-height: 338px;
  background-color: white;
  border-radius: 4px;

  .user-comment-element {
    display: flex;
    position: relative;
    justify-content: start;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: solid 1px rgb(180, 180, 180);
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      cursor: pointer;
    }

    .comment-avatar {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 5px;

      .comment-profile-photo {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .comment-photo-placeholder {
        position: relative;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 1px;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .comment-photo-placeholder-text {
          position: relative;
          font-size: 10px;
          color: black;
          margin-top: 50%;
          margin-left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .comment-username-and-other-data {
      display: flex;
      position: relative;
      flex-direction: column;
      padding-top: 6px;
      width: 75%;
      height: 60px;
      justify-self: flex-end;
      text-align: left;

      .comment-username {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 540;
        color: black;
      }

      .comment-name {
        display: none;
      }

      .comment-location {
        display: none;
      }

      .comment-text {
        display: flex;
        position: relative;
        font-size: 12;
        font-weight: 400;
      }
    }

    .comment-date {
      display: flex;
      position: relative;
      font-size: 10;
      font-weight: 380;
      margin-top: 5px;
    }
  }
}
