.forgot-password {
  min-width: 200px;
  max-width: 250px;

  width: 850px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  transform: translate(-50%);

  .group {
    margin: 10px;
  }

  span {
    font-weight: 400;
    margin: 0px;
    width: 300px;
  }
}

.alert {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin-left: 50%;
  margin-top: -100px;
  transform: translate(-50%);
}
