.not-found-page {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .not-found-header {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  .not-found-body {
    width: 500px;

    .not-found-body-text {
      font-size: 20px;
      font-weight: 400;

      .link-text {
        text-decoration: none;
      }
    }
  }
}
