@mixin container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 20;
  overflow-y: scroll;
  background-color: white;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 4px;
}

@mixin element {
  display: flex;
  background-color: white;
  border-bottom: solid 1px rgb(180, 180, 180);
  cursor: pointer;
}

.create-post-locations-suggestions-container {
  @include container();
  min-width: 370px;
  height: 90px;
  max-height: 90px;
  margin-top: -34px;

  .create-post-locations-suggestion {
    @include element();
    width: 352px;
    min-height: 34px;
    padding: 4px 8px;

    .create-post-location-label {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.edit-post-locations-suggestions-container {
  @include container();
  min-width: 282px;
  height: 90px;
  max-height: 90px;
  margin-top: 59px;

  &.post-page {
    max-width: 294px;
  }

  .edit-post-locations-suggestion {
    @include element();
    width: 264px;
    min-height: 30px;
    padding: 4px 8px;

    &.post-page {
      width: 276px;
    }

    .edit-post-location-label {
      font-size: 14px;
      font-weight: 480;
    }
  }
}
