.footer {
  color: black;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  span {
    display: inline-flex;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
