$main-color: black;
$sub-color: #525252;

@mixin hideLabel {
  display: none;
}

@mixin respond-medium-wide {
  @media (max-width: 895px) {
    @content;
  }
}

@mixin respond-medium-narrow-wide {
  @media (max-width: 834px) {
    @content;
  }
}

h2 {
  font-weight: 420;
}

span {
  font-weight: 380;
}

.group {
  position: relative;
  margin: 35px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 8px 8px 8px 4px;
    display: block;
    width: 100%;
    min-width: 250px;
    border: 1.8px solid $main-color;
    border-radius: 6px;
    margin: 12px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include hideLabel();
    }

    &.comment {
      font-size: 14px;
      height: 60px;
      width: inherit;
      margin: 5px 0 10px 0;
      padding-top: 28px;
      min-width: 120px;
      overflow-y: scroll;
      resize: none;
      flex-grow: 1;
      border: 1.2px solid $sub-color;
      border-radius: 2px;

      @include respond-medium-wide() {
        min-width: 150px;
        width: 100%;
      }

      @include respond-medium-narrow-wide() {
        width: 250px;
      }
    }
  }

  input[type='password'] {
    letter-spacing: 0.2em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 300ms ease all;

    &.hide {
      @include hideLabel();
    }
  }

  .comment-form-input-label {
    color: $sub-color;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 7px;
    top: 34px;
    transition: 300ms ease all;

    &.hide {
      @include hideLabel();
    }
  }

  .form-file-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 8px 8px 8px 4px;
    display: block;
    min-width: 200px;
    border: 1.8px solid $main-color;
    border-radius: 8px;
    margin: 12px 0;
    overflow: hidden;

    &::-webkit-file-upload-button {
      font-size: 16px;
      border-radius: 8px;
      color: white;
      background-color: #074aaf;
    }
  }

  .form-file-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin-right: 10px;
    left: 5px;
    top: 10px;
  }

  &.comment {
    margin: 5px 0;
    width: 100%;

    @include respond-medium-wide() {
      width: inherit;
    }
  }
}
