@mixin hideLabel {
  display: none;
}

@mixin respond-medium {
  @media (max-width: 724px) {
    @content;
  }
}

.search-group {
  position: relative;
  margin-top: 4vh;
  z-index: 20;

  @include respond-medium() {
    transform: translateY(-2vh);
  }

  .search-bar {
    background: none;
    background-color: #7087c8;
    color: white;
    font-size: 14px;
    padding: 0;
    display: block;
    width: 100%;
    min-width: 200px;
    height: 30px;
    border: 1px solid white;
    border-radius: 4px;

    &:focus {
      outline: none;
    }

    &:focus ~ .search-bar-label {
      @include hideLabel();
    }
  }

  input[type='text'] {
    text-indent: 5px;
  }

  .search-bar-label {
    color: white;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 300ms ease all;

    &.hide {
      @include hideLabel();
    }
  }
}
