@mixin respond-wide {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 768px) {
    @content;
  }
}

.post-modal {
  font-family: 'Lato', sans-serif;
  width: 90vmin;
  max-width: 935px;
  height: 62vmin;

  .post-modal-header {
    background-color: transparent;
    border: none;
    height: 2vmin;

    .close {
      transform: translateY(-25%);
    }
  }

  .post-modal-body {
    max-width: inherit;
    width: 90vmin;
    height: 55vmin;
    display: flex;

    .post-modal-image {
      width: auto;
      max-height: 600px;
      height: 50vmin;
    }

    .post-modal-details {
      margin-left: 2vw;
      width: 35vmin;
      max-width: 400px;
      display: flex;
      flex-direction: column;

      .post-user {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }

      .post-location {
        margin: 0;
        font-size: 11px;
        font-weight: 420;
        margin-bottom: 1vh;
      }

      .post-caption {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1vh;
      }
      .post-date {
        margin: 0;
        font-size: 12px;
      }

      span {
        text-align: left;
        overflow: hidden;
      }
    }
  }
}
