@mixin respond-wide {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin respond-medium-wide {
  @media (max-width: 895px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 736px) {
    @content;
  }
}

.modal-content {
  flex-direction: row;
  border-radius: 0;
}

.post-modal {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  width: 335px;
  height: 600px;
  position: relative;
  margin-left: 50%;

  .large-image-adjustments {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width: 480px;
    height: 600px;
    transform: translate(-480px);

    @include respond-medium-wide() {
      width: 40vw;
      height: auto;
      transform: translate(-40vw);
    }

    @include respond-medium() {
      display: none;
      background-color: none;
    }

    .post-modal-image-large {
      height: auto;
      width: 480px;
      position: relative;

      @include respond-medium-wide() {
        width: 40vw;
      }
    }
  }

  .post-modal-header {
    background-color: transparent;
    border: none;
    width: 335px;
    height: 32px;
    position: absolute;

    .close {
      transform: translateY(-20%);
    }
  }

  .post-modal-body {
    width: 335px;
    height: 568px;
    display: flex;
    position: absolute;

    .post-modal-image-embedded {
      height: 20vh;
      max-height: 262px;
      width: auto;
      display: none;

      @include respond-medium() {
        display: block;
      }
    }

    @include respond-medium() {
      max-width: 655px;
      width: 90vw;
      height: 30vh;
      -webkit-tap-highlight-color: white;
    }

    .post-modal-details {
      width: 320px;
      display: flex;
      flex-direction: column;

      .post-user-and-location {
        display: flex;
        flex-direction: row;
        margin-bottom: 1vh;
        padding-bottom: 1vh;
        border-bottom: solid 1px;
        border-color: rgba(0, 0, 0, 0.2);

        .user-photo {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }

        .text-and-options {
          margin-left: 12px;
          display: flex;
          flex-direction: row;
          justify-content: stretch;

          .user-and-location {
            display: flex;
            flex-direction: column;

            .user-name {
              margin: 0;
              font-size: 14px;
              font-weight: 520;
            }

            .post-location {
              margin: 0;
              font-size: 12px;
              font-weight: 420;
            }
          }

          .post-options {
            font-size: 30px;
            transform: translate(75%, -55%);

            .ellipsis {
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      .post-caption {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1vh;
      }
      .post-date {
        margin: 0;
        font-size: 12px;
      }

      span {
        text-align: left;
        overflow: hidden;
      }
    }
  }
}
