.header {
  background-color: #3b5ab1;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  position: relative;

  .app-name {
    position: absolute;
    justify-content: left;
    left: 20px;
    bottom: 10px;
    padding-bottom: 0;
    color: white;
    text-decoration: none;

    &:hover,
    &:active {
      color: white;
      text-decoration: none;
    }

    .title {
      font-weight: 560;
    }
  }

  .avatar {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;

    .profile-photo {
      position: relative;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
    }

    .photo-placeholder {
      position: relative;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      border: solid 1px;
      border-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;

      .photo-placeholder-text {
        position: relative;
        font-size: 1.25vh;
        color: white;
        margin: 0;
        margin-top: 50%;
        transform: translateY(-55%);
      }
    }
  }

  .header-menu {
    position: absolute;
    right: 5px;
    bottom: 5px;
    justify-items: stretch;

    .link {
      font-size: 16px;
      color: white;
      margin: 0 5px;
    }
  }
}
