extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to PhotoShare, we're excited to have you 😀📷
    p Head over to our site and start sharing your photos!
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
    p If you have any questions at all, please do not hesitate to reach out to me!
    p - Giuliano Gabella, CEO