@mixin respond-medium {
  @media (max-width: 736px) {
    @content;
  }
}

.followers-following-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  min-width: 260px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  margin-top: 25vh;
  margin-left: 50%;
  transform: translate(-50%);

  .modal-content {
    width: 50vw;
    max-width: 335px;
    min-width: 260px;
    max-height: 400px;
    border-radius: 15px;

    @include respond-medium() {
      flex-direction: column;
      // margin-top: 50%;
      // margin-left: 100%;
      transform: translateY(-40%);
    }
  }

  .followers-following-modal-header {
    display: flex;
    justify-content: center;
    position: relative;

    .header-text {
      margin-left: 50%;
      transform: translate(-50%);
      font-size: 18px;
      font-weight: 420;
      text-align: center;
    }
  }

  .followers-following-modal-body {
    display: flex;
    flex-direction: column;
    min-height: 338px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
  }
}
