.post-options-modal {
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 20vw;
  margin-top: 45vh;

  .post-options-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
